<script type="text/javascript">
	var COLLAPSE_CATEGORIES_UNREAD_POST = '{L_COLLAPSE_CATEGORIES_UNREAD_POST}';
	var S_CATEGORIES_COLLAPSEBALED = '{S_CATEGORIES_COLLAPSEBALED}';
	var S_COLLAPSE_BLOCKS = '{S_COLLAPSE_BLOCKS}'; 
	var S_CLOSED = '{S_CLOSED}'; 
	var S_CLOSED_IDS = '{S_CLOSED_IDS}'; 
	
	var S_COLLAPSECATEGORIES_SAVE_DB  = '{S_COLLAPSECATEGORIES_SAVE_DB}'; 
	var S_USER_ID = '{S_USER_ID}'; 
	
	var catClosedArray= [];
	var blockClosedArray = [];
	var closedArray = [];
	if(S_COLLAPSECATEGORIES_SAVE_DB == 1)
	{
		closedArray = $.parseJSON(S_CLOSED_IDS);
//		console.log(closedArray);
	}
	
	else
	{
		closedArray = localStorage.getItem('u'+S_USER_ID);
		if(closedArray) 
		{
			closedArray = closedArray.split(",");
			closedArray = $.unique( closedArray );
		}
	}
	$.each(closedArray, function( index, item ) {
		if(isNaN(item))
		{
			blockClosedArray.push(item);
		}
		else
		{
			catClosedArray.push(item);
		}

	});

		//set status for category blocks
		var cat_arr = $('[id^="cat"]');
//		console.log(cat_arr);
		$.each(cat_arr, function( index, item ) {
			 var cat_id = $(item).attr('id').replace(/cat/g, '');
			var cat_status = parseInt ( $(item).attr('data-status'));
			var itemClosedId  = $.grep(catClosedArray, function(value) {
				return value == cat_id;
			  });
			  if (itemClosedId.length > 0)
			  {
				  $(item).attr('data-status','1');  //Update value
			  }
		});
		
		//set status for custom blocks
		var collapse_blocks_arr = $.parseJSON(S_COLLAPSE_BLOCKS);
//		console.log(collapse_blocks_arr);
		$.each(collapse_blocks_arr, function( index, item ) 
		{
			//	console.log(item);
			var block_status;
			var id = item.block_id.trim();
			var parentId = 'clps_' + id;
			var block_status;
			var txt_toggle;
			var aria_hidden_status;
			var icon_class;
			var hide_class = '';
			var itemClosedId  = $.grep(blockClosedArray, function(value) {
				return value == id;
			  });

			if (itemClosedId.length  == 0)
			{
				block_status = 0;
				aria_hidden_status = false;
				icon_class = parseInt(item.icon_open) == 1 ? "fa fa-chevron-up" : "" ;
				txt_toggle = item.text_open;
				hide_class ="";
			}
			else
			{
				block_status = 1;
				aria_hidden_status = true;
				icon_class = parseInt(item.icon_close) == 1 ?  "fa fa-chevron-down" : "" ;
				txt_toggle = item.text_close;
				hide_class = "collapse-hide";
			}
			if($("#"+ id).length > 0)
			{
//				console.log($("#"+ id));
				$("#"+ id).attr('data-user_id', S_USER_ID);
				$("#"+ id).attr('data-status', block_status);		 
				$("#"+ id).attr('data-category', 0);	
				var divParent = '<div id="' +  parentId + '" class="collapsetrigger-custom"  data-status="' + block_status  + '" >';
				divParent += '<span><i id="icon_' + id + '" class="' + icon_class + '" aria-hidden="false"></i></span>';
				divParent += '<span id="text_' + id + '" class="custom-text">'  + txt_toggle + '</span></div>';
//				  console.log("divParent = " + divParent);
				$("#"+ id).before(divParent);
			}
 		});		
</script>
<!-- INCLUDEJS collapsecategories.js -->

