{% include 'overall_header.html' %}

<h1>{{ lang("ACP_COLLAPSECATEGORIES") }}</h1>

<p>{{ lang("ACP_COLLAPSECATEGORIES_BLOCKS_EXPLAIN") }}</p>

<form id="acp_collapsecategories" method="post" action="{{ U_ACTION }}">
    <div id="blockCollapsecategories">
        <fieldset>
            <legend>{{ lang("ACP_COLLAPSECATEGORIES_SETTINGS_BLOCKS") }}</legend>
            <div class="panel">
                <div id="blocksSaved" class="">
                <h1><i class="fa fa-bars"></i>{{ lang("ACP_COLLAPSECATEGORIES_BLOCKS_TITLE") }}</h1>
                <div id="noSavedBlocks" class="forumbg" {% if clpsblocks %}style="display:none;" {% endif %}>
                    <div class="inner">
                        <strong>{{ lang("ACP_COLLAPSECATEGORIES_NO_BLOCKS_TITLE") }}</strong>
                    </div>
                </div>
                <table id="tblBlocksSaved" class="table1 forums responsive show-header" style="margin-top: 15px;{% if  !clpsblocks %}display:none;" {% endif %}"  >
                    <thead  >
                        <tr>
                            <th style="">{{  lang("ACP_COLLAPSECATEGORIES_BLOCK_ID_CAPTION") }}</th>
                            <th style="">{{ lang("ACP_COLLAPSECATEGORIES_TEXT_OPEN_CAPTION") }}</th>
		<th style="">{{  lang("ACP_COLLAPSECATEGORIES_ICON") }}<i class="fa fa-chevron-down"></i></th>
                            <th style="">{{  lang("ACP_COLLAPSECATEGORIES_TEXT_CLOSE_CAPTION") }}</th>
                            <th style="">{{  lang("ACP_COLLAPSECATEGORIES_ICON") }}<i class="fa fa-chevron-up"></i></th>
		<th style="">{{  lang("ACP_COLLAPSECATEGORIES_CUSTOM_CSS_CAPTION") }}</th>
                            <th  style="width:90px;">{{  lang("ACTION") }}</th>
                        </tr>
                    </thead>
                    <tbody >
                        {# <!-- BEGIN clpsblocks --> #}
                        {% if clpsblocks %}
                            {% for clpsblock in clpsblocks %}
                            <tr>
                                <td><div  class="row_data" col_name="block_id">{clpsblock.BLOCK_ID}</div></td>
                                <td><div class="row_data" edit_type="click" col_name="text_open">{clpsblock.TEXT_OPEN}</div></td>
                                <td>
                                    <div class="row_data" edit_type="click" col_name="icon_open">
                                        <input type="checkbox" name="icon-open" {% if clpsblock.ICON_OPEN eq 1 %} checked{% endif %} class="radio" disabled />
                                    </div>
                                </td>
                                <td><div class="row_data" edit_type="click" col_name="text_close">{clpsblock.TEXT_CLOSE}</div></td>
                                <td>
                                    <div class="row_data" edit_type="click" col_name="icon_close">
                                        <input type="checkbox" name="icon-close" value="1" {% if clpsblock.ICON_CLOSE eq 1%} checked{% endif %} class="radio" disabled />
                                    </div>
                                </td>
                                <td><div class="row_data" edit_type="click" col_name="custom_css">{clpsblock.CUSTOM_CSS}</div></td>
                              
                                <td  style="width:65px;" align="center"> 
                                    <div class="clps-action clps-action-edit"     data-block_id="{clpsblock.BLOCK_ID}" title="{"{{ lang("ACP_COLLAPSECATEGORIES_BTN_EDIT") }}><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                     <div class="clps-action clps-action-delete"  data-block_id="{clpsblock.BLOCK_ID}" title="{{  lang("ACP_COLLAPSECATEGORIES_BTN_DELETE") }}"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                    <span class="btn_cancel" style="display:none;" data-block_id="{clpsblock .BLOCK_ID}"  title="{{  lang("ACP_COLLAPSECATEGORIES_BTN_CANCEL") }}"> <a href="#" class="btn btn-link" data-block_id="{clpsblock.BLOCK_ID}"> {{ lang("ACP_COLLAPSECATEGORIES_BTN_CANCEL") }}</a> | </span>
                                    <!-- <div class="loader_small" style="" data-block_id="{clpsblocks.BLOCK_ID}"  title=""></div> -->
                                <td>
                            </tr>
                            {% endfor %}
                         {% endif %}
                        {# <!-- END clpsblocks --> #}
                        {# <!-- This is our clonable table line --> #}                          
                            <tr class="clps-hide">
                                <td><div  class="row_data" col_name="block_id">bla-bla</div></td>
                                <td><div class="row_data" edit_type="click" col_name="text_open">bla-bla</div></td>
                                <td>
                                    <div class="row_data" edit_type="click" col_name="icon_open">
                                        <input type="checkbox" name="icon-open" checked class="radio" />
                                    </div>
                                </td>
                                <td><div class="row_data" edit_type="click" col_name="text_close">bla-bla</div></td>
                                <td>
                                    <div class="row_data" edit_type="click" col_name="icon_close">
                                        <input type="checkbox" name="icon-close" checked class="radio" />
                                    </div>
                                </td>                    
                                <td><div class="row_data" edit_type="click" col_name="custom_css">bla-bla</div></td>
                                <td  style="width:65px;" align="center"> 
                                    <div class="clps-action clps-action-edit"     data-block_id="bla-bla" title="{{  lang("ACP_COLLAPSECATEGORIES_BTN_EDIT") }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                                     <div class="clps-action clps-action-delete"  data-block_id="bla-bla" title="{{  lang("ACP_COLLAPSECATEGORIES_BTN_DELETE") }}"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                     <span class="btn_save" style="display:none;" data-block_id="bla-bla"  title="{{  lang("ACP_COLLAPSECATEGORIES_BTN_SAVE") }}"> <a href="#" class="btn btn-link"  data-block_id="{clpsblock.BLOCK_ID}"> {{ lang("ACP_COLLAPSECATEGORIES_BTN_SAVE") }}</a> | </span>
                                    <span class="btn_cancel" style="display:none;" data-block_id="bla-bla"  title="{{  lang("ACP_COLLAPSECATEGORIES_BTN_CANCEL") }}"> <a href="#" class="btn btn-link" data-block_id="{clpsblock.BLOCK_ID}"> {{ lang("ACP_COLLAPSECATEGORIES_BTN_CANCEL") }}</a> | </span>
                                <td>                           
                            </tr>
                    </tbody>
                </table>
            <div class="loader_small"></div>
    
            <button class="clps-add-block"  id="btnAddNewBlock"><i class="fa fa-plus-square-o" aria-hidden="true"></i> {{  lang("ACP_COLLAPSECATEGORIES_ADD_NEW_BLOCK") }}</button>
            <div id="newBlock" style="display:none;">     
                 <fieldset>
                    <legend>{{ lang("ACP_COLLAPSECATEGORIES_ADD_NEW_BLOCK}") }}</legend>
                    <dl>
                        <dt>
                            <label for="block_id">{{  lang("ACP_COLLAPSECATEGORIES_BLOCK_ID_CAPTION") }}{{  lang("COLON") }}</label><br /> 
                            <span>{{  lang("ACP_COLLAPSECATEGORIES_BLOCK_ID_CAPTION_EXPLAIN") }}</span>
                        </dt>
                        <dd><input type="text" id="block_id" name="block_id"   /> </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="text_open">{{  lang("ACP_COLLAPSECATEGORIES_TEXT_OPEN_CAPTION") }}{{  lang("COLON") }}</label>
<!--                            <br /> 
                            <span>{L_ACP_COLLAPSECATEGORIES_TEXT_OPEN_CAPTION_EXPLAIN}</span>-->
                        </dt>
                        <dd>
                            <input type="text" id="text_open" name="text_open"  value="{{  lang("ACP_COLLAPSECATEGORIES_TEXT_OPEN_DEFAULT") }}" />
                            &nbsp;&nbsp;{{  lang("ACP_COLLAPSECATEGORIES_ICON") }}<i class="fa fa-chevron-up"></i> <input type="checkbox" id="icon_open" name="icon_open"  checked /> 
                        </dd>
                    </dl> 
      
                    <dl>
                        <dt>
                            <label for="text_close">{{  lang("ACP_COLLAPSECATEGORIES_TEXT_CLOSE_CAPTION") }}{{  lang("COLON") }}</label>
<!--                            <br /> 
                            <span>{L_ACP_COLLAPSECATEGORIES_TEXT_CLOSE_CAPTION_EXPLAIN}</span>-->
                        </dt>
                        <dd>
                            <input type="text" id="text_close" name="text_close" value="{{  lang("ACP_COLLAPSECATEGORIES_TEXT_CLOSE_DEFAULT") }}"  /> 
                            &nbsp;&nbsp;{{  lang("ACP_COLLAPSECATEGORIES_ICON") }}<i class="fa fa-chevron-down"></i> <input type="checkbox" id="icon_close" name="icon_close"  checked /> 
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label for="custom_css">{{  lang("ACP_COLLAPSECATEGORIES_CUSTOM_CSS_CAPTION") }}{{  lang("COLON") }}</label>
<!--                            <br /> 
                            <span>{L_ACP_COLLAPSECATEGORIES_CUSTOM_CSS_CAPTION_EXPLAIN}</span>-->
                        </dt>
                        <dd><input type="text" id="custom_css" name="custom_css"   /> </dd>
                    </dl>                    
                 </fieldset>
                <fieldset class="submit-buttons">
                    <legend>{{  lang("SUBMIT") }}</legend>
                    <div id="loader_save"></div>
                    <button class="lp-send" type="submit" name="btnSaveNewBlock"  id="btnSaveNewBlock"><i class="fa fa-upload"></i> {{  lang("EXPORT_STORE") }}</button>
                </fieldset>   
            </div>
        </fieldset>
   </div>
</form>
{% include 'overall_footer.html' %}

