{% include 'overall_header.html' %}

<h1>{{ lang("ACP_COLLAPSECATEGORIES") }}</h1>

<form id="acp_collapsecategories" method="post" action="{{ U_ACTION }}">
    <div id="blockCollapsecategories">
        <fieldset>
            <legend>{{ lang("ACP_COLLAPSECATEGORIES_SETTINGS_COMMON") }}</legend>
            <dl>
                <dt>
                    <label for="collapsecategories_only_on_index">{{ lang("ACP_COLLAPSECATEGORIES_ONLY_ON_INDEX") }}{{ lang("COLON") }}</label><br /> 
                    <span>{{ lang("ACP_COLLAPSECATEGORIES_ONLY_ON_INDEX_EXPLAIN") }}</span>
                </dt>
                    <dd><label><input type="radio" name="collapsecategories_only_on_index" value="1" {% if S_COLLAPSE__ON_INDEX_ONLY %}checked{% endif %} class="radio" /> {{ lang("YES") }}</label><label><input type="radio" name="collapsecategories_only_on_index" value="0" {% if !S_COLLAPSE__ON_INDEX_ONLY %}checked{% endif %} class="radio"> {{ lang("NO") }}</label></dd>
            </dl>
           <dl>
                <dt>
                    <label for="collapsecategories_save">{{ lang("ACP_COLLAPSECATEGORIES_SAVE") }}{{ lang("COLON") }}</label><br /> 
                    <span>{{ lang("ACP_COLLAPSECATEGORIES_SAVE_EXPLAIN") }}</span>
                </dt>
                    <dd><label><input type="radio" name="collapsecategories_save" value="1" {% if  S_SHOW_SAVE %}checked{% endif %} class="radio" /> {{ lang("YES") }}</label><label><input type="radio" name="collapsecategories_save" value="0" {% if  !S_SHOW_SAVE %}checked{% endif %} class="radio"> {{ lang("NO") }}</label></dd>
            </dl>			
       </fieldset>
        <fieldset>
            <legend>{{ lang("ACP_COLLAPSECATEGORIES_SETTINGS_STYLES") }}</legend>
            <table class="table1 styles" style="width:60%;">
                <thead>
                    <tr>
                        <th>{{ lang("STYLE_NAME") }}</th>
                        <th  style="white-space: nowrap; text-align: center;">{{ lang("ACP_COLLAPSECATEGORIES_STYLE_COLLAPSIBLE") }}</th>
                    </tr>
                </thead>
                <tbody id="styles-list">
                    {% if styles_list %}
                        {% for stl in styles_list %}
                            <tr>
                                <td>{stl.NAME}</td>
                                <td>
                                    <div style="text-align: center;">
                                        <input type="checkbox"  name ="ids[]" value="{stl.ID}" {% if stl.IS_COLLAPSIBLE %}checked{% endif %} />
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </fieldset>
        <fieldset class="submit-buttons">
	        <legend>{{ lang("SUBMIT") }}</legend>
            <div id="loader_save"></div>
            <button class="lp-send" type="submit" name="btnSend"  id="btnSend"><i class="fa fa-upload"></i> {{ lang("EXPORT_STORE") }}</button>
        </fieldset>   
    </div>
</form>
{% include 'overall_footer.html' %}
