.collapsetrigger {
  background: url("./images/collapse-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  float: right;
  height: 17px;
  margin-top: -21px;
  position: relative;
  width: 32px;
  z-index: 1;
}

.collapseactive {
  background-position: left top;
}

.collapseinactive {
  background-position: left bottom;
}
.collapse-unread_post {
  background: url("./images/icon_mini_unread_forums.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  width:16px;
  height:16px;
  display:inline-block;
	
}