/* File Created: июля 18, 2015 */
#option_sel {
	height:25px;
	padding-top:5px;
	font-size:14px;
	font-weight:bold;
	background-color:#fefed5;
	z-index:1;
	display:none;
	
}
.lp-send{
	background: #105289;
	font-size: 14px;

color:#ffffff;
border:1px solid #ffffff;
text-shadow:0px 0px 1px #222222;
box-shadow:0px 0px 3px #000000;
-moz-box-shadow:0px 0px 3px #000000;
-webkit-box-shadow:0px 0px 3px #000000;
border-radius:10px 10px 0px 0px;
-moz-border-radius:10px 10px 0px 0px;
-webkit-border-radius:10px 10px 0px 0px;
	padding: 5px 15px;
cursor:pointer;
margin:0 auto;
}
/*.an-send:active{
cursor:pointer;
position:relative;
top:2px;
}
.an-list {
    display: block;
    padding: 0 10px;
}*/
.clps-action {
	display:inline-block;
	cursor:pointer;
    border-radius: 1em;
    box-shadow: 0 1px 2px #fff inset;
    width: 22px;
    height: 20px;
    margin-left: 5px;
    color:White;
    opacity:0.5;
    filter:alpha(opacity=50);
}
/*.clps-action-restore {
    background-color: #35a035;
	
}*/
.clps-action-edit
{
    background-color:#1c8710;
}
.clps-action-delete {
    background-color: #BC2A4D;
}
.clps-action:hover {
    opacity:1;
    filter:alpha(opacity=100);
	
}
.bg-warning
{
    background-color: #fcf8e3;
    padding:5px;
}

/*.an-info {
display: inline-block;
    padding: 3px 5px;
    margin: 0;
    font-size: 1.3em;
    background-color: #fdfcd3;
    color: #977c1e;
    cursor: pointer;
    opacity: 0.7;
    filter:alpha(opacity=70);
    }
.an-info:hover {
	opacity:1;
    filter:alpha(opacity=100);

}*/


/*#tblNotySaved .fa {
	margin-top: 4px;
    margin-left: 5px;
}
#info_block {
	display:none;
	position:relative;
	top:0;
	left:0;
	width:60%;
    background-color: #fdfcd3;
    color: #977c1e;
    padding: 5px 15px 10px 15px;
}*/
#loader_get, #loader_save
{
    display:none;
	/*position:relative;*/
	/*top:0;
	left:0;*/
	width:32px;
	height:32px;
	margin: auto;
	background-image: url(./images/ajax-loader.gif);
	
}

/*#an_recipients input.search {
	background-image: url("./images/icon_textbox_search.gif");
	
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 17px;
	height:20px;
}
.notification_list ul li img {
    float: left;
    height: auto !important;
    margin-right: 5px;
    max-height: 50px;
    max-width: 50px;
    width: auto !important;
}
.na_text {
	
}
.na_text img {max-width: 100%; max-height: auto;}
}*/
#tblNotySaved {
	width:360px;
	margin-top: 15px;
}
#tblNotySaved thead, #tblNotySaved tbody { display: block; }

#tblNotySaved tbody 
{
    height: 167px;      
    overflow-y: auto;    
}
.clps-add-block{
	background: #105289;
	font-size: 14px;

color:#ffffff;
border:1px solid #ffffff;
text-shadow:0px 0px 1px #222222;
box-shadow:0px 0px 3px #000000;
-moz-box-shadow:0px 0px 3px #000000;
-webkit-box-shadow:0px 0px 3px #000000;
border-radius:10px 10px 0px 0px;
-moz-border-radius:10px 10px 0px 0px;
-webkit-border-radius:10px 10px 0px 0px;
	padding: 5px 15px;
cursor:pointer;
margin:13px auto;
}
.clps-hide
{
    display:none;
}